.box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
  margin-bottom: 60px;
}
.box1{
  max-width: 621px;
}
.box2{
  max-width:621px;
  margin-top: 109px;
  flex-shrink: 0;
  border-radius: 12px;
}
.box1__title{
  color: rgb(54, 55, 56);
font-family: Exo 2;
font-size: 52px;
margin-bottom: 40px;
}
.box1__text{
  color: rgb(107, 107, 108);
font-family: PT Sans;
font-size: 16px;
font-weight: 400px;
margin-bottom: 20px;
}
.box1__link{
  color: rgb(54, 55, 56);
font-family: PT Sans;
font-size: 16px;
text-decoration: underline 2px solid #FFCE50;
}
.box1__link:hover{
  text-decoration: underline 2px #FFCE50;
}




@media only screen and (max-width:1000px) {
  .box1{
    max-width: 500px;
  }
  .box2{
    max-width: 500px;
  }


}

@media only screen and (max-width:886px) {
  .box1{
    max-width: 400px;
  }
  .box2{
    max-width: 450px;
  }
  .box1__title{
    font-size: 44px;
  }
  .box1__text{
    font-size: 16px;
  }


}

@media only screen and (max-width:761px) {
  .box{
    flex-direction: column;
    gap: 0px;
  }
  .box1{
    text-align: center;
    margin-bottom: 0px;
  }


}











