.section__list{
  display: flex;
  align-items: center;
  margin-top: 70px;
  border-radius: 20px;
  max-width: 1240px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
  background: rgb(255, 255, 255);
  text-align: center;
  justify-content:space-between;
  margin: 0 auto;
}


.img__clas{
  max-width: 90px;
 
}
 .section__title{
  color: rgb(54, 55, 56);
font-family: Exo 2;
font-size: 20px;

 }
 .section__text{
  color: rgb(107, 107, 108);
font-family: PT Sans;
font-size: 16px;
margin-top: 14px;

margin-bottom: 56px;
}
.section__item{
max-width: 228px;
text-align: center;
margin-top: 25px;
padding: 15px;
}

@media only screen and (max-width:675px) {
  .section__item{
    display: flex;
    gap: 30px;
    border-radius: 20px;
box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.12);
background: rgb(255, 255, 255);
}
  .section__list{
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-direction: column;
gap: 0px;
width: 300px;
  }
}

@media only screen and (max-width:379px) {
  .section__item{
    flex-direction: column;
  }
  .section__title{
    font-size: 18px;
  }
  .section__text{
    font-size: 15px;
  }
}












//>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>//
.block__list{
  display: flex;
  align-items: center;
  justify-content: space-around;
//   border-radius: 10px;

// box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.12);
// /* white */
// background: rgb(255, 255, 255);
  // width: 393px;
  // height: 247px;
}
.block__title{
  color: rgb(54, 55, 56);
font-family: Exo 2;
font-size: 48px;
font-weight: 600;
margin-bottom: 30px;
}
.block__text{
  color: rgb(107, 107, 108);
font-family: PT Sans;
font-size: 16px;
font-weight: 400;
margin-bottom: 55px;
}
.title__block{
  color: rgb(54, 55, 56);
font-family: Exo 2;
font-size: 20px;
font-weight: 600;
margin-bottom: 16px;
}
.text__block{
  color: rgb(107, 107, 108);
font-family: PT Sans;
font-size: 16px;
font-weight: 400;
margin-bottom: 20px;
}
.block__outline{
  color: rgb(54, 55, 56);
font-family: Exo 2;
font-size: 16px;
font-weight: 600;
line-height: 135%;
text-align: left;
}
.block__outline:hover{
  text-decoration: underline 2px  rgb(255, 206, 80);;
}
.content__block{
  background-color: #0B7572;
  display: flex;
  align-items: center;
  width: 1240px;
  // height: 917px;
}
.conten__img{
  width: 103px;
  height: 56.49px;
}
.conten__title{
  color: rgb(255, 255, 255);
font-family: Exo 2;
font-size: 48px;
font-weight: 600;
}
.conten__text{
  color: rgb(107, 107, 108);
font-family: PT Sans;
font-size: 11px;
font-weight: 400px;
}


 


@media only screen and (max-width:512px) {
  .block__list{
    max-width: 410px;
    flex-direction: column;
  }
}
@media only screen and (max-width:502px) {
  
}
@media only screen and (max-width:305px) {
  .block__item{
    max-width: 310px;
    flex-direction: column;
  }
  .title__block{
    font-size: 18px;
  }
  .text__block{
    font-size: 15px;
  }
  .block__outline{
    font-size: 15px;
  }
}

